// Variables
$website-width: 80%;
$website-height: 80%;
$font-size: 32px;
$main-color: #008F11;
$main-color-light: lighten($main-color, 15%);
$main-color-dark: adjust-color($main-color, $lightness: -15%);
$complement-color: #8f007e;
$complement-color-light: lighten($complement-color, 15%);
$complement-color-dark: adjust-color($complement-color, $lightness: -15%);
$yellow-color: #ffd500;
$yellow-color-light: lighten($yellow-color, 15%);
$yellow-color-dark: adjust-color($yellow-color, $lightness: -15%);
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$white: #fff;
$black: #0D0208;

// General Styles
*{
  margin: 0;
  padding: 0;
  font-size: $font-size;
  font-family: 'VT323', monospace;
  box-sizing: border-box;
}

body{
  position: relative;
  background: $black;
  color: $main-color-light;
  min-height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

// Mixins
@mixin input-form{
  margin: 0.5rem 0;
  width: $website-width;
  display: flex;
  align-items: baseline;
}

@mixin input-field{
  width: 90%;
  // height: 1rem;
  
  overflow: hidden;
  white-space: nowrap;
  border: none;
  outline: none;
  background: none;
  resize: none;
}

@mixin message-template{
  margin: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px dashed $main-color-dark;

  white-space: pre-wrap;       
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}