// Variables
$website-width: 60rem;
$font-size: 14px;
$main-color: #0098da;
$main-color-light: #91d8f7;
$main-color-dark: #472E93;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$white: #fff;
$black: #000;
$footer-height: 5rem;