// Container Class
.container{
  overflow: hidden;
  position: relative;
  width: $website-width;
  margin: 1rem auto;
}

// Message
.message{
  margin: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px dashed $main-color-dark;

  white-space: pre-wrap;       
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.typing{
  @extend .message;
  color: $dark-color;
  border: none;
}