// Container Class
.container{
  overflow: hidden;
  position: relative;
  width: $website-width;
  margin: 1rem auto;
}

// Message
.message{
  @include message-template;
}

// Typing
.typing{
  @include message-template;
  color: $dark-color;
  border: none;
}

// New User
.new-user{
  @include message-template;
  color: $white;
  // border-color: $white;
}

// User Disconnected
.user-disconnected{
  @include message-template;
  color: $main-color;
}

// Command Results
.cmd{
  @include message-template;
  color: $complement-color-light;
}