@import 'config';
@import 'utilities';

// Chat History
#chat-history{
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  height: 75vh;
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;
  border: 2px solid $main-color;
}

// Send Message
#send-message{
  margin: 0.5rem 0;
  width: $website-width;
  display: flex;
  align-items: baseline;

  #input-message{
    width: 90%;
    height: 1rem;
    color: $main-color-light;
    caret-color: $main-color-light;
    
    // overflow-x: scroll;
    // overflow-y: hidden;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    outline: none;
    background: none;
    resize: none;
  }
}

@import 'media';