@import 'config';
@import 'utilities';

// Enter Name
#enter-name{
  @include input-form;
  color: $main-color;

  #input-name{
    @include input-field;
    color: $main-color;
    caret-color: $main-color;
  }
}

// Chat History
#chat-history{
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  height: 75vh;
  width: 100%;
  // margin-top: 2rem;
  // padding: 0.5rem;
  border: 2px solid $main-color;
  display: none;
}

// Send Message
#send-message{
  @include input-form;
  display: none;

  #input-message{
    @include input-field;
    color: $main-color-light;
    caret-color: $main-color-light;
  }
}

@import 'media';